[envs.default]
features = ["test", "lint"]
[envs.default.scripts]
test = "pytest {args:tests}"
test-cov = "coverage run -m pytest {args:tests}"
cov-report = ["- coverage combine", "coverage report --show-missing"]
cov-xml = "coverage xml"
cov = ["test-cov", "cov-report", "cov-xml"]
typing = "mypy {args:pulseeco tests}"
style = [
    "ruff check {args:pulseeco tests}",
    "ruff format --check --diff {args:pulseeco tests}",
]
fmt = [
    "ruff check --fix {args:pulseeco tests}",
    "ruff format {args:pulseeco tests}",
]
lint = ["style", "typing"]

# meant to be used locally
[envs.dev]
python = "3.9"
features = ["dev"]
[envs.dev.scripts]
pre-commit-install = "pre-commit install"
setup = ["pre-commit-install"]
pre-commit-run = "pre-commit run --all-files"
check = ["pre-commit-run || true", "typing || true", "cov"]
docs-serve = "mkdocs serve"
