# File: docs/environment.yaml

name: docs
channels:
  - conda-forge
  - defaults
dependencies:
  - python==3.8
  - Sphinx==4.3.2
  - sphinx_rtd_theme==1.0.0
  - pip
  - pip:
    - -r file:requirements.txt 
